@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: #4B4B4B;
  --border: #252525;
  --background-variant: #747474;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.body {
  width: 100vw;
  height: 100vh;
  background: rgb(255,180,68);
  background: radial-gradient(circle, rgba(255,180,68,1) 0%, rgba(255,153,0,1) 100%);
}

.backGround{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../public/stars.png");
  background-size: 8vw;  /* rozmiar gwiazdek */
  background-position: left top;
  background-repeat: repeat;
  opacity: 33%;
  animation: pan 180s linear infinite;
  z-index: 0;
}

.foreGround{
  position: relative;
  z-index: 1;
}

.transparency{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255,180,68);
  background: radial-gradient(#d9d9d900 0%, #FF9900 100%);
  z-index: 0;
}

@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.schoolLogo{
  position: absolute;
  right: 0;
  top: 0;
  width: 10vw;
  height: 10vw;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: center;
}

.headerText{
  font-size: 3vw;
  background-color: var(--background);
  border:solid var(--border);
  border-width: 0px 0.5vw 0.5vw 0.5vw;
  border-radius: 0px 0px 4vw 4vw;
  padding-left: 4vw;
  padding-right: 4vw;
  line-height: 3.5vw;
  margin-bottom: 2vh;
}

.tableIcon {
  height: 3vw;
  width: 3vw;
}

.calendarTime{
  display: flex;
  align-items: center;
  background-color: var(--background);
  width: fit-content;
  min-width: fit-content;
  max-height: 5vw;
  padding: 1vw 2vw 1vw 2vw;
  font-size: 2vw;
  border:solid var(--border);
  gap: 1vw;
  border-width: 0.5vw 0.5vw 0 0.5vw;
  border-radius: 3vw 3vw 0 0;
}

.rounded{
  border:solid var(--border);
  border-width: 0.5vw;
  border-radius: 0 0 3vw 3vw;
  width: fit-content;
  height: fit-content;
  background-color: var(--background);
}

.mainTable{
  border-collapse: collapse;
  background-color: var(--background);
  padding: 0;
  margin: 0;
  border-radius: 3vw;
  margin-left: auto;
  margin-right: auto;
  min-width: 90vw;
  max-height: 60vh;
}

table tr{
  border-bottom: 0.2vw solid var(--border);
}

table .last{
  border: none;
}

table td, table th{
  border-right:  0.2vw solid var(--border);
}

td{
  text-align: center;
  font-size: 1.55vw;
  padding: 0.4vw;
}

.tableInfo{
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  padding: 0.4vw;
  justify-content: center;
}

.main {
display: flex;
justify-content: center;
}

table .klasa{
}

.gone{
  visibility: hidden;
}


.noSubs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--background);
  padding: 5vw;
  font-size: 4vw;
  border: 0.5vw var(--border) solid;
  border-radius: 4vw;
}

.h-10vh {
  height: 10vh;
}

.h-90vh {
  height: 90vh;
}

.file-form {
  border: solid var(--border);
  border-width: 0.25vw;
  border-radius: 1vw;
  background-color: var(--background);
}

.bg-color {
  background-color: var(--background);
}

.bg-color-light {
  background-color: #D0D0D0;
}

.btn {
  background-color: #FF9900FF;
}

.btn:hover {
  background-color: #FFB444FF;
}

.rotate {
  animation: rotation 0.75s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topInfo {
  display: flex;
  flex-direction: row;
}

.absentTeachers > p {
  width: fit-content;
}

.absentTeachers{
  display: flex;
  background-color: var(--background);
  border: solid var(--border);
  box-sizing: border-box;
  border-radius: 3vw 3vw 0 0;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 1.4vw;
  border-width: 0.5vw 0.5vw 0 0.5vw;
  padding-top: 0.2vw;
  flex-wrap: wrap;
  width: 71.45vw;
  height: 5vw;
  max-height: 100%;
}

.bold {
  font-weight: bold;
}